* {
    font-family: 'Roboto Mono', 'Consolas', monospace;
}

body {
    background-color: #2C2C2C;
    user-select: none;
    -webkit-user-drag: none;
}

.container {
    width: 30rem;
    height: 70vh;
    background-color: #444;
    border: 0.25rem solid #F5F5F5;
    border-radius: 2rem;
    margin: 2rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#input-display {
    width: 27rem;
    height: 5rem;
    border-radius: 1rem;
    padding: 0 1rem;
    font-size: 3rem;
    text-align: right;
    pointer-events: auto;
    user-select: none;
}

#error-msg {
    width: 25rem;
    height: 1rem;
    color: #FAF9F6;
    text-align: center;
}

.container-btn {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    justify-content: center;
    align-items: center;
}

.row-container {
    width: 29rem;
    display: flex;
    justify-content: space-between;
}

.row-container:first-child > button {
    width: 13.5rem;
}

button {
    width: 6rem;
    height: 6rem;
    font-size: 4rem;
    text-align: center;
    border: 0.25rem solid #AEC6CF;
    border-radius: 2rem;
}

button:hover,
.button-hover {
    background-color: #FFD1DC;
    color: #6A5ACD;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.btn-clear {
    background-color: #A45A52;
    color: #FAF9F6;
    font-size: 3rem;
}

.btn-backspace {
    background-color: #FAD5A5;
    font-size: 2rem;
}

.btn-operator {
    background-color: #cfa117;
    color: #2C2C2C;
}

.btn-decimal {
    background-color: #10b6cc;
}

.btn-equal {
    background-color: #6B8E23;
    color: #FFFFFF;
}

button:active,
.button-active {
    background-color: lightpink;
    color: darkblue;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.8);
    transform: translateY(5px);
}

button:disabled,
.btn-clck {
    background-color: #222;
    color: #CFECEC;
}