.container {
    width: 30rem;
    height: 80vh;
}

#input-display {
    width: 29rem;
    height: 5rem;
    font-size: 2rem;
    text-align: right;
}

#error-msg {
    height: 2rem;
    display: flex;
    align-items: center;
}

.row-container {
    width: 29rem;

    display: flex;
    justify-content:space-between;
}

button {
    width: 6rem;
    font-size: 4rem;
}

.btn-clck {
    background-color: #222;
    color: #ddd;
}